
{% extends "index.njk" %} 
{% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Tickets {{ ticketMessage }} {{ obj['abc'] }}</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <tbody>
            <tr>
              <td><a href="#">45</a></td>
              <td>I'm having problems with my order</td>
              <td>Sophie W</td>
              <td>03/04/2022</td>
              <td>Resolved</td>
            </tr>
            <tr>
                <td><a href="#">46</a></td>
                <td>Office message from Jane Doe</td>
                <td>Jane Doe</td>
                <td>03/04/2022</td>
                <td>Resolved</td>
            </tr>
            <tr>
              <td><a href="#">47</a></td>
              <td>I need to reset my password</td>
              <td>John Shafer</td>
              <td>03/04/2022</td>
              <td>Pending</td>
            </tr>
          </tbody>
        </table>
        <br/><br/><br/><br/><br/>
        <button>Delete All</button>
      </div>
{% endblock %}

