

{% extends "index.njk" %} 
{% block content %}
       <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ title }}</h1>
      </div>
      
      <div class="table-responsive">
        <table class="table table-sm">
          <tbody>
            {{ renderTicketRow(ticket) }}
          </tbody>
        </table>
      </div>
      <div style="margin-top:1em">
      Ticket created, {{ ticket.created_at_rendered }}<br/>
      Ticket last updated, {{ ticket.updated_at_rendered }}<br/>
      Ticket subject, {{ ticket.raw_subject }}<br/>
      Ticket requester, {{ ticket.requester_rendered }}, email is, {{ ticket.requester_email_rendered }}<br/>
      Ticket public, {{ ticket.is_public }}<br/>
      </div>
      <div style="margin-top:1em">
      {% for c in (comments.comments) %}
            <div class="mt-3">
            <b>{{ c.created_at_rendered }}</b>
            {% if c.public %}
            {% else %}
              <i>(private)</i>
            {% endif %}
            <b>From: {{ c.author_email_rendered }}</b>
            <br/>
            {{ c.plain_body }}
          </div>
      {% endfor %}
      </div>
      <div class="mt-3">
        <form>
            <button onclick="onBtnPostReply()">Post Reply</button><br/><br/>
            <button onclick="onBtnSetStatus('solved')">Mark as Solved</button> 
            <button onclick="onBtnSetStatus('pending')">Mark as Pending</button>  
            <button onclick="onBtnSetStatus('open')">Mark as Open</button> 
            <div class="mt-3">
            Tags: {{ ticket.tags_rendered }} <button onclick="onBtnSetTags()">Set Tags</button><br/>
            Custom Fields: {{ ticket.custom_fields_rendered | nl2br }} <br/>
                
            </div>
        </form>
    </div>
{% endblock %}

